requests
scapy
wget
argparse
colorama
humanfriendly
requests 
bs4
mechanize
twine
Mechanicalsoup
selenium
clang
sshame
netaddr
ipaddr
paramiko
texttable
PySocks
win_inet_pton
pyOpenSSL
flask
lockfile
pyspf
SQLAlchemy
canari
py3DNS
censys
six
shodan
xmltodict
rule
scapy
